<div class="tought-form-container">
  <a href="/tips/dashboard">Voltar</a>
  <h1>Criando uma Tip:</h1>
  <form action="/tips/add" method="POST">
    <div class="form-control">
      <label for="title">Informe a partida e a tip:</label>
      <input type="text" name="title" placeholder="Ex: Flamengo x Vasco Over 2.5 gols">
    </div>
    <input type="submit" value="Criar tip">
  </form>
</div>